.cart-button{
    position: fixed;
    bottom: 50vh;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #eeefee;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.cart-button:hover{
    cursor: pointer;
}

.cart-button-expanded{
    position: fixed;
    bottom: 0vh;
    right: 0px;
    width: 30%;
    height: 85vh;
    background-color: #eeefee;
    border-radius: 15px 0px 0px 15px;
    transition: all 0.5s ease;
}

h1{
    padding: 10px 30px 10px 30px;
    margin: 0px;
}

h1:hover{
    cursor: pointer;
}

.divider{
    margin: 0px;
    border-bottom: 2px solid #bec2c9;
}

.cart--list {
    list-style: none;
    padding-left: 10px;
    padding: 10px 0px 10px 10px;
    margin: 0px;
    height: 68vh;
    overflow-y: auto;
}

.cart--actions{
    float: right;
    margin-right: 20px;
}

.cart--actions > button{
    height: 35px;
    width: 70px;
}
/* .cart{
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 30%;
    border: 2px solid transparent;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px#bec2c9;
}

.cart h1{
    padding: 10px 30px 10px 30px;
    margin: 0px;
}

.cart h1:hover{
    cursor: pointer;
}

.divider{
    margin: 0px;
    border-bottom: 2px solid #bec2c9;
}

.cart--list {
    list-style: none;
    padding-left: 10px;
    padding: 10px 0px 10px 10px;
    margin: 0px;
    height: 55vh;
    overflow-y: auto;
}

.cart--list-expand{
    height: 65vh;
    transition: height 0.5s ease;
}

.cart--list-collapse{
    height: 0vh;
    transition: height 0.5s ease;
}

.cart--actions{
    padding: 10px;
} */