.notification {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.notification--text {
    background-color: limegreen;
    margin: 0px;
    padding: 10px;
    height: 20px;
}

